# **GUIA 2 - MATEO DUQUE**

## **Actividad 1**

In [3]:
#importar pandas y leer archivo csv
import pandas as pd

#Leer Archivo csv titanic
df1 = pd.read_csv('10.000_Empresas_mas_Grandes_del_Pa_s_20240822.csv')

In [4]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000 entries, 0 to 19999
Data columns (total 14 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   NIT                     20000 non-null  int64
 1   RAZÓN SOCIAL            19998 non-null  object
 2   SUPERVISOR              20000 non-null  object
 3   REGIÓN                  20000 non-null  object
 4   DEPARTAMENTO DOMICILIO  20000 non-null  object
 5   CIUDAD DOMICILIO        20000 non-null  object
 6   CIIU                    20000 non-null  int64
 7   MACROSECTOR             20000 non-null  object
 8   INGRESOS OPERACIONALES  20000 non-null  object
 9   GANANCIA (PÉRDIDA)      20000 non-null  object
 10  TOTAL ACTIVOS           20000 non-null  object
 11  TOTAL PASIVOS           20000 non-null  object
 12  TOTAL PATRIMONIO        20000 non-null  object
 13  Año de Corte            20000 non-null  int64
dtypes: int64(3), object(11)
memory usage: 2.1+ MB

### **Limpiar de un caracter especial**

In [20]:
#Eliminar la ciudad despues del guion y solo dejar la ciudad
df1['CIUDAD DOMICILIO'] = df1['CIUDAD DOMICILIO'].str.split('-').str[0].str.strip()

import unicodedata

# Función para eliminar tildes
def eliminar_tildes(texto):
    if isinstance(texto, str):
        # Normalizar y eliminar acentos
        return unicodedata.normalize('NFKD', texto).encode('ASCII', 'ignore').decode('ASCII')
    return texto

df1['CIUDAD DOMICILIO'] = df1['CIUDAD DOMICILIO'].apply(eliminar_tildes)

#Remplazar Bogota D.C por bogota
df1['CIUDAD DOMICILIO'] = df1['CIUDAD DOMICILIO'].str.replace('BOGOTA D.C.','BOGOTA')

print(df1['CIUDAD DOMICILIO'].unique())

['BOGOTA' 'CARTAGENA' 'ENVIGADO' 'MEDELLIN' 'BARRANQUILLA' 'YUMBO'
 'PEREIRA' 'CALI' 'ITAGUI' 'RIONEGRO' 'PASTO' 'ZARZAL' 'POPAYAN'
 'BUCARAMANGA' 'PALMIRA' 'TURBACO' 'SOPO' 'COTA' 'FUNZA' 'CHIA'
 'TOCANCIPA' 'GIRARDOTA' 'BARBOSA' 'SANTA MARTA' 'FACATATIVA' 'COPACABANA'
 'MANIZALES' 'BUGA' 'CIENAGA DE ORO' 'CAJICA' 'CUCUTA' 'LA' 'SABANETA'
 'GIRON' 'SOLEDAD' 'ALMEIDA' 'FLORIDABLANCA' 'LA TEBAIDA' 'PIEDECUESTA'
 'BELLO' 'GALAPA' 'SANTANDER' 'APARTADO' 'CHINCHINA' 'TENJO' 'CANDELARIA'
 'IBAGUE' 'TUNJA' 'SIBATE' 'ZIPAQUIRA' 'MALAMBO' 'SESQUILE' 'NEIVA'
 'SINCELEJO' 'MOSQUERA' 'SOACHA' 'IPIALES' 'ARMENIA' 'PUERTO COLOMBIA'
 'DOSQUEBRADAS' 'HERVEO' 'TULUA' 'MAICAO' 'BARANOA' 'SANTA ROSA DE CABAL'
 'VILLA' 'MONTERIA' 'RIOHACHA' 'VALLEDUPAR' 'CALOTO' 'MADRID' 'MARINILLA'
 'AMAGA' 'DUITAMA' 'VILLAVICENCIO' 'UBATE' 'SABANAGRANDE' 'JAMUNDI'
 'TUMACO' 'GACHANCIPA' 'CARTAGO' 'SAN ANDRES' 'SANTA ROSA DE OSOS'
 'CALDAS' 'GUACHENE' 'BARRANCABERMEJA' 'YOPAL' 'QUIBDO' 'FUQUENE'
 'MARIQUITA' 'CIENAGA' 'CAREPA' 'GUARNE' 'REMEDIOS' 'CERETE' 'GUACARI'
 'MAGANGUE' 'MANI' 'VILLA DEL ROSARIO' 'PUERTO ASIS' 'YOTOCO' 'PALERMO'
 'FLORENCIA' 'SABANA DE TORRES' 'BUENAVENTURA' 'SAN ALBERTO' 'EL ZULIA'
 'COGUA' 'PITALITO' 'CLEMENCIA' 'GUADALAJARA DE BUGA' 'ARAUCA' 'SAN PABLO'
 'GRANADA' 'OCANA' 'MIRANDA' 'GINEBRA' 'YARUMAL' 'ANSERMA' 'FUSAGASUGA'
 'PAEZ' 'FOMEQUE' 'ANTIOQUIA' 'ALVARADO' 'PLATO' 'JARDIN' 'CAUCASIA'
 'SOGAMOSO' 'TAURAMENA' 'GUAMAL' 'SARAVENA' 'DONMATIAS' 'FLORIDA'
 'AGUACHICA' 'SAN JOSE DEL GUAVIARE' 'PUERTO BERRIO' 'SUBACHOQUE' 'LIBANO'
 'ESPINAL' 'PRADERA' 'COMBITA' 'GARZON' 'SOCORRO' 'VILLANUEVA'
 'LOS PATIOS' 'SAN SEBASTIAN DE BUENAVISTA' 'ENTRERRIOS' 'GIRARDOT'
 'GUACHETA' 'HONDA' 'SAN GIL' 'SAN' 'PUERTO TEJADA' 'ACACIAS' 'TURBO'
 'TIBU' 'GIRALDO' 'GUATICA' 'BOLIVAR' 'PUERTO WILCHES' 'JERICO'
 'MONTEBELLO' 'CHIQUINQUIRA' 'SANTAFE DE ANTIOQUIA' 'RESTREPO' 'LA CEJA'
 'MOCOA' 'SAMACA' 'QUIMBAYA' 'MONIQUIRA' 'VILLAPINZON' 'CARMEN'
 'BOCHALEMA' 'SANTUARIO' 'SITIONUEVO' 'SANTA ROSA' 'SAN JUAN DEL CESAR'
 'TOCAIMA' 'PACHO' 'CAQUEZA' 'LA PLATA' 'PUERTO BOYACA' 'PAMPLONA'
 'LORICA' 'CAMPOALEGRE' 'CHAPARRAL' 'SABANALARGA' 'RETIRO' 'MONTENEGRO'
 'SAN PEDRO' 'SOCHA' 'ALBAN' 'SAN ANDRES DE TUMACO' 'SAN MARTIN' 'SINCE'
 'CHIGORODO' 'PUERTO CARRENO' 'FLANDES' 'LA UNION' 'EL CARMEN DE BOLIVAR'
 'YOLOMBO' 'ANSERMANUEVO' 'TAME' 'SANTA' 'LA VIRGINIA' 'TABIO' 'PAIPA'
 'MALAGA' 'FUNDACION' 'VILLA DE SAN DIEGO DE UBATE' 'LETICIA' 'ARBOLETES'
 'FIRAVITOBA' 'NOBSA' 'EL BANCO' 'LA PAZ' 'URIBIA' 'LA MESA' 'PIVIJAY'
 'CUCUNUBA' 'LEBRIJA' 'SOATA' 'PUERTO GAITAN' 'TIERRALTA' 'MONTELIBANO'
 'ROLDANILLO' 'PAZ DE RIO' 'ORITO' 'RIVERA' 'TELLO' 'BELEN' 'NEMOCON'
 'YONDO' 'INIRIDA' 'MITU' 'PIENDAMO' 'PURIFICACION' 'ANDES' 'SEVILLA'
 'FOSCA' 'EL BAGRE' 'ARJONA' 'SAN MARCOS' 'CHIRIGUANA' 'SEGOVIA' 'EL'
 'SIMITI' 'PESCA' 'BUCARASICA' 'COROZAL' 'RIOFRIO' 'EL DONCELLO' 'SAHAGUN'
 'CIUDAD BOLIVAR' 'NECOCLI' 'VILLAMARIA' 'BUGALAGRANDE' 'VELEZ' 'AGUAZUL'
 'SIMIJACA' 'PITAL' 'VENTAQUEMADA' 'PLANETA RICA' 'SORACA' 'RIOSUCIO'
 'MELGAR' 'SAN JUAN NEPOMUCENO' 'GACHETA' 'SALENTO' 'GUAMO' 'ALBANIA'
 'BOGOTA D.C' 'PUERTO' 'LA ESTRELLA' 'LOS' 'SALDANA' 'LURUACO' 'CAMPO'
 'URRAO' 'VALLE DEL GUAMUEZ' 'BOSCONIA' 'SAN ANDRES Y PROVIDENCIA'
 'LERIDA' 'ARATOCA' 'COLON' 'SAN VICENTE DEL CAGUAN' 'CAICEDONIA'
 'GUARANDA' 'SAN PEDRO DE URABA' 'CHOCONTA' 'VILLETA' 'CALARCA' 'ABREGO'
 'FORTUL' 'LA VEGA' 'GUASCA' 'MANAURE']

In [23]:
#Convertir el NIT a texto
df1['NIT'] = df1['NIT'].astype(str)
#Identificar la cantidad de los caracteres y agregarlos en una columna
df1['Longitud NIT'] = df1['NIT'].str.len()

print(df1['Longitud NIT'].unique())

#Se verifica que todos tienen 9 caracteres

[9]

### **ACTIVIDIDAD 2 - GUIA 2**

#### **Transformar datos a numericos**

In [26]:

# Eliminar el símbolo '$' de todo el DataFrame
df1 = df1.replace({'\$': ''}, regex=True)

# Convertir varias columnas a tipo numérico
columnas_a_convertir = ['INGRESOS OPERACIONALES', 'GANANCIA (PÉRDIDA)', 'TOTAL ACTIVOS', 'TOTAL PASIVOS', 'TOTAL PATRIMONIO']
df1[columnas_a_convertir] = df1[columnas_a_convertir].apply(pd.to_numeric)

print(df1.dtypes)

NIT                        object
RAZÓN SOCIAL               object
SUPERVISOR                 object
REGIÓN                     object
DEPARTAMENTO DOMICILIO     object
CIUDAD DOMICILIO           object
CIIU                        int64
MACROSECTOR                object
INGRESOS OPERACIONALES    float64
GANANCIA (PÉRDIDA)        float64
TOTAL ACTIVOS             float64
TOTAL PASIVOS             float64
TOTAL PATRIMONIO          float64
Año de Corte                int64
Longitud NIT                int64
dtype: object

#### **Analisis de Datos**

In [30]:
#Suma de ingresos operacionales por año
ingresos_operacionales_año = df1.groupby(['Año de Corte'])['INGRESOS OPERACIONALES'].sum()
print(ingresos_operacionales)

Año de Corte
2021    1306.35
2022    1727.58
Name: INGRESOS OPERACIONALES, dtype: float64

In [32]:
#Suma de ingresos por departamentos domicilio
ingresos_operacionales_dpt = df1.groupby(['DEPARTAMENTO DOMICILIO'])['INGRESOS OPERACIONALES'].sum()
print(ingresos_operacionales_dpt.sort_values())

DEPARTAMENTO DOMICILIO
VAUPES                         0.04
GUAINIA                        0.04
VICHADA                        0.15
AMAZONAS                       0.23
GUAVIARE                       0.32
PUTUMAYO                       0.86
ARAUCA                         1.15
CHOCO                          1.19
CAQUETA                        1.51
SAN ANDRES Y PROVIDENCIA       2.09
LA GUAJIRA                     2.29
CASANARE                       2.46
SUCRE                          3.40
CESAR                          4.94
QUINDIO                        7.28
BOYACA                         8.27
HUILA                          8.55
META                           9.02
CORDOBA                        9.31
TOLIMA                        11.03
NARIÑO                        14.45
MAGDALENA                     18.07
NORTE DE SANTANDER            19.84
CAUCA                         20.56
CALDAS                        24.54
RISARALDA                     33.26
SANTANDER                     62.26
BOLIVAR                      112.68
ATLANTICO                    126.59
CUNDINAMARCA                 137.17
VALLE                        218.20
ANTIOQUIA                    504.33
BOGOTA                      1667.85
Name: INGRESOS OPERACIONALES, dtype: float64